.grid {
  background-color: gainsboro;
  display: grid;
  gap: 5px;
}
/* 왜 first-child나 nth-child(1)은 안먹지?? */
.grid:nth-child(2) {
  /* grid-template-columns: repeat(5, minmax(100px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.grid:nth-child(3) {
  /* grid-template-columns: repeat(5, minmax(100px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid:nth-child(4) {
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.item:nth-child(odd) {
  background-color: red;
}

.item:nth-child(even) {
  background-color: blue;
}
