@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: minmax(420px, 600px) minmax(420px, 1fr);
  grid-template-rows: minmax(300px, max-content);
}

#page_desc {
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: minmax(600px, 100vh);
  justify-content: center;
}

.flexWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
}

#page_desc header h1 {
  font-size: 58px;
  color: #e6473c;
}

#page_desc h3 {
  font-size: 1.6em;
  color: #e6473c;
}

#page_desc h5 {
  font-size: 1em;
  color: #e6473c;
}

#page_desc ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#page_desc ul li {
  font-size: 1em;
  color: #606060;
}

#page_desc ul li a {
  text-decoration: underline;
  text-decoration-color: #606060;
}

#page_desc p {
  font-size: 0.5em;
  color: #606060;
}

#movies {
  background-color: #e7473c;
}

#movies .notice {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 150px;
  /* width:100%;  */
  /* width:100vh; */
}
