.flex_box_div {
  display: flex;
  flex-direction: column;
  /*Main Axis*/
  height: 500px;
  /*Cross Axis*/
  /* align-items: flex-end; */

  flex-wrap: wrap;
  align-content: flex-start;
}

.box {
  width: 400px;
  height: 100px;
  line-height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  size: 20pt;
}
