@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "variable";

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

header {
  position: fixed;
  width: $header_content-width;
  height: $header-height;
  background-color: mediumseagreen;

  display: flex;
  justify-content: space-between;

  img {
    width: $header-height;
    height: $header-height;
    left: 50%;
    margin-left: -$header-height/2;
    position: absolute;
  }

  .btn_box {
    height: $header-height;
    background-color: red;

    ul {
      display: flex;
      gap: 20px;
      line-height: $header-height;
      font-size: 8pt;
      letter-spacing: 2px;
      user-select: none;

      li {
        cursor: pointer;
      }
    }
  }
}

main {
  width: $header_content-width;
  height: 100%;
  margin-top: $header-height;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: plum;

  .basic_template {
    width: 100%;
    height: 540px;
    background-color: #fbf7f6;

    display: flex;

    img {
      width: 50%;
      height: 100%;
    }

    .desc_box {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      p {
        font-family: "freight-display-pro", "Times New Roman", serif;
        width: 400px;
        font-size: 34px;
        line-height: 38px;
        text-align: center;
        color: #414141;
        cursor: default;
      }

      button {
        border: 1px solid #414141;
        box-sizing: border-box;
        color: #414141;
        cursor: pointer;
        display: inline-block;
        font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
        font-size: 10px;
        height: 55px;
        letter-spacing: 2.2px;
        line-height: 55px;
        max-width: 100%;
        min-width: 240px;
        padding: 0 50px;
        text-transform: uppercase;
        width: 240px;
        height: 55px;
      }
    }
  }

  .product_box_template {
    width: 100%;
    height: 750px;
    background-color: gray;

    display: flex;
    justify-content: space-around;

    .product_item {
      width: 30%;
      height: 100%;
      background-color: beige;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      img {
        width: 100%;
        height: 490px;
      }

      h3 {
        font-size: 28px;
      }

      h6 {
        font-size: 8px;
      }

      button {
        width: 80%;
        height: 50px;
        background-color: white;
        border: 1px solid gray;
        font-size: 10px;
        letter-spacing: 4px;
      }
    }
  }

  .search_box_template {
    width: 100%;
    height: 600px;
    padding: 40px 140px 40px 140px;
    box-sizing: border-box;
    background-color: blueviolet;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      font-size: 35px;
      text-align: center;
    }

    .email_search_box {
      width: 100%;
      height: 70px;
      background-color: red;

      display: flex;

      border-bottom: 1px solid black;

      input {
        font-size: 40px;
        width: 90%;
        height: 50px;
      }
      button {
        width: 10%;
        height: 55px;
      }
    }
  }
}

footer {
  width: 100%;
  height: 267px;
  padding: 65px;
  background-color: royalblue;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;

  .vertical_divide_line {
    height: 140px;
    width: 1px;
    background-color: black;
  }

  nav {
    width: 30%;
    height: 140px;
    background-color: red;
    ul {
      li {
        text-align: center;
        margin-bottom: 10px;
        &:first-child {
          color: gray;
          margin-bottom: 30px;
        }
      }
    }
  }
}
