@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "variable";

body {
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

header {
  width: $header_content-width;
  height: 70px;
  background-color: mediumseagreen;
}

main {
  width: $header_content-width;
  height: 100%;
  background-color: plum;
}

footer {
  width: 100%;
  height: 137px;
  padding: 65px;
  background-color: royalblue;
}
