@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 5em;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 46vh;
  gap: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: blue;
}

.item h3,
h6 {
  text-align: center;
}

.item h3 {
  font-size: 18pt;
  margin-top: 20px;
}

.item h6 {
  font-size: 8pt;
  margin-bottom: 20px;
}

.img_item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item:nth-child(1) {
  background-color: #bfbda6;
}
.item:nth-child(2) {
  background-image: url("../img/22_02_26/img1.png");
}
.item:nth-child(3) {
  background-color: #fe4814;
}
.item:nth-child(4) {
  background-image: url("../img/22_02_26/img2.png");
}
.item:nth-child(5) {
  background-color: #847e96;
}
.item:nth-child(6) {
  background-color: #d0ff71;
}
.item:nth-child(7) {
  background-color: #993534;
}
.item:nth-child(8) {
  background-color: #3baafa;
}
.item:nth-child(9) {
  background-image: url("../img/22_02_26/img3.png");
}
.item:nth-child(10) {
  background-color: #41907b;
}
.item:nth-child(11) {
  background-image: url("../img/22_02_26/img4.png");
}
.item:nth-child(12) {
  background-color: #e3c4e5;
}
