.flex_box_div {
  display: flex;
  flex-direction: row;
  /*Main Axis*/
  height: 500px;
  justify-content: space-around;
  /*Cross Axis*/
  /* align-items: flex-end; */
}

.box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  size: 20pt;
}

.box:nth-child(2) {
  order: 1;
}

.box:nth-child(3) {
  order: -1;
}
