.flex_box_div {
  display: flex;
  flex-direction: row;
  /*Main Axis*/
  height: 400px;
  justify-content: space-between;
  /*Cross Axis*/
  /* align-items: flex-end; */
}

.box {
  /* width: 300px; */
  flex-basis: 300px;
  height: 100px;
  line-height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  size: 20pt;
}

/* .box:nth-child(2) {
  background-color: black;
  flex-shrink: 2;
}

.box:nth-child(3) {
  background-color: red;
  flex-shrink: 3;
} 

.box:nth-child(2) {
  background-color: black;
  flex-grow: 2;
} */
