@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  width: 80%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 70px;
  height: 70px;
  left: 50%;
  margin-left: -35px;
  position: absolute;
}
header .btn_box {
  height: 70px;
}
header .btn_box ul {
  display: flex;
  gap: 20px;
  line-height: 70px;
  font-size: 8pt;
  letter-spacing: 2px;
  user-select: none;
}
header .btn_box ul li {
  cursor: pointer;
}

main {
  width: 80%;
  height: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .basic_template {
  width: 100%;
  height: 540px;
  display: flex;
}
main .basic_template img {
  width: 50%;
  height: 100%;
}
main .basic_template .desc_box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .basic_template .desc_box p {
  font-family: "freight-display-pro", "Times New Roman", serif;
  width: 400px;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #414141;
  cursor: default;
}
main .basic_template .desc_box button {
  border: 1px solid #414141;
  box-sizing: border-box;
  color: #414141;
  cursor: pointer;
  display: inline-block;
  font-family: "proxima-nova", "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  height: 55px;
  letter-spacing: 2.2px;
  line-height: 55px;
  max-width: 100%;
  min-width: 240px;
  padding: 0 50px;
  text-transform: uppercase;
  width: 240px;
  height: 55px;
}
main .product_box_template {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-around;
}
main .product_box_template .product_item {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .product_box_template .product_item img {
  width: 100%;
  height: 490px;
}
main .product_box_template .product_item h3 {
  font-size: 28px;
}
main .product_box_template .product_item h6 {
  font-size: 8px;
}
main .product_box_template .product_item button {
  width: 80%;
  height: 50px;
  border: 1px solid gray;
  font-size: 10px;
  letter-spacing: 4px;
}
main .search_box_template {
  width: 100%;
  height: 600px;
  padding: 40px 140px 40px 140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .search_box_template p {
  font-size: 35px;
  text-align: center;
}
main .search_box_template .email_search_box {
  width: 100%;
  height: 70px;
  display: flex;
  border-bottom: 1px solid black;
}
main .search_box_template .email_search_box input {
  font-size: 40px;
  width: 90%;
  height: 50px;
  border: none;
}
main .search_box_template .email_search_box button {
  width: 10%;
  height: 55px;
  background-color: white;
  border: 1px solid black;
}

footer {
  width: 100%;
  height: 267px;
  padding: 65px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
footer .vertical_divide_line {
  height: 140px;
  width: 1px;
}
footer nav {
  width: 30%;
  height: 140px;
}
footer nav ul li {
  text-align: center;
  margin-bottom: 10px;
}
footer nav ul li:first-child {
  color: gray;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
